<div class="container">
  <!-- Header -->
  <div class="header">
    <div class="brand">
      <div class="logo">☕</div>
      <h2>Cafetín</h2>
    </div>
    <div class="user-info">
      <span class="welcome">¡Hola, {{user?.name}}!</span>
      <button (click)="proyectar()" class="logout-btn">
        Mostar en pantalla
      </button>
      <button (click)="logout()" class="logout-btn">
        Salir
      </button>
    </div>
  </div>

  <!-- Órdenes Pendientes -->
  <div class="cart-section">
    <h3>🆕 Nuevas órdenes</h3>
    <div *ngFor="let order of getPendingOrders()" class="cart-item">
      <div class="container-order">
        <h4>#{{order.id}} - {{order.table}}</h4>
        <p>{{ getItemsString(order) }}</p>
        <p><strong>{{ getOrderTotal(order) | currency:'USD':'symbol':'1.0-0' }}</strong></p>
      </div>
      <button (click)="changeOrderStatus(order, 'preparing')" class="action-btn-prepared">
        Preparar
      </button>
    </div>
  </div>

  <!-- Órdenes en Preparación -->
  <div class="cart-section">
    <h3>🧑‍🍳 En Preparación</h3>
    <div *ngFor="let order of getPreparingOrders()" class="cart-item">
      <h4>#{{order.id}} - {{order.table}}</h4>
      <p>{{ getItemsString(order) }}</p>
      <p><strong>{{ getOrderTotal(order) | currency:'USD':'symbol':'1.0-0' }}</strong></p>
      <button (click)="changeOrderStatus(order, 'completed')" class="action-btn ready">
        Listo
      </button>
    </div>
  </div>
</div>